HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

**/venv/
**/env/
**/.venv/

**/__pycache__/
**/*.py[cod]
**/*.$py.class

**/*.tmp
**/temp_*.mp3
**/temp_*.wav

**/.cache/huggingface/
**/models/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/
.env

.DS_Store
Thumbs.db